name: "Update Changelog & App Version"

on:
  release:
    types: [released]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Update CHANGELOG
        uses: stefanzweifel/changelog-updater-action@v1
        with:
          latest-version: ${{ github.event.release.name }}
          release-notes: ${{ github.event.release.body }}

      - name: Update composer.json version
        run: |
          VERSION="${{ github.event.release.tag_name }}"
          VERSION="${VERSION#v}" # removes leading v if present
          jq --arg v "$VERSION" '.version = $v' composer.json > composer.tmp.json
          mv composer.tmp.json composer.json

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          commit_message: "chore: update changelog and version to ${{ github.event.release.tag_name }}"
          file_pattern: |
            CHANGELOG.md
            composer.json
